In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jamestown,42.0970,-79.2353,73.29,46,1,8.05,US,2021-07-22 20:41:52
1,1,Magadan,59.5667,150.8000,52.92,97,100,2.80,RU,2021-07-22 20:46:44
2,2,New Norfolk,-42.7826,147.0587,50.92,71,100,3.40,AU,2021-07-22 20:45:44
3,3,Tasiilaq,65.6145,-37.6368,44.76,97,100,6.87,GL,2021-07-22 20:46:45
4,4,Sola,-13.8833,167.5500,80.73,75,15,14.58,VU,2021-07-22 20:46:45

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jamestown,42.0970,-79.2353,73.29,46,1,8.05,US,2021-07-22 20:41:52
4,4,Sola,-13.8833,167.5500,80.73,75,15,14.58,VU,2021-07-22 20:46:45
6,6,Gilbues,-9.8317,-45.3439,82.96,28,0,7.61,BR,2021-07-22 20:46:46
7,7,Vila Franca Do Campo,37.7167,-25.4333,70.21,76,73,6.24,PT,2021-07-22 20:46:46
13,13,Kahului,20.8947,-156.4700,83.46,69,40,18.41,US,2021-07-22 20:44:18
15,15,Ratnagiri,16.9833,73.3000,80.51,86,100,20.83,IN,2021-07-22 20:46:49
16,16,Khor,47.8861,134.9464,75.88,79,100,4.50,RU,2021-07-22 20:46:50
17,17,Yatou,37.1500,122.3833,73.94,86,100,2.04,CN,2021-07-22 20:46:50
25,25,Kapaa,22.0752,-159.3190,82.72,76,75,3.00,US,2021-07-22 20:46:53
26,26,Rikitea,-23.1203,-134.9692,73.49,72,15,18.12,PF,2021-07-22 20:45:23

In [20]:
preferred_cities_df.count()

City_ID       240
City          240
Lat           240
Lng           240
Max Temp      240
Humidity      240
Cloudiness    240
Wind Speed    240
Country       240
Date          240
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
0              Jamestown      US     73.29  42.0970  -79.2353
4                   Sola      VU     80.73 -13.8833  167.5500
6                Gilbues      BR     82.96  -9.8317  -45.3439
7   Vila Franca Do Campo      PT     70.21  37.7167  -25.4333
13               Kahului      US     83.46  20.8947 -156.4700
15             Ratnagiri      IN     80.51  16.9833   73.3000
16                  Khor      RU     75.88  47.8861  134.9464
17                 Yatou      CN     73.94  37.1500  122.3833
25                 Kapaa      US     82.72  22.0752 -159.3190
26               Rikitea      PF     73.49 -23.1203 -134.9692

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        pass

In [25]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jamestown,US,73.29,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Sola,VU,80.73,-13.8833,167.5500,Leumerus Bungalows
6,Gilbues,BR,82.96,-9.8317,-45.3439,Hotel Camapuã
7,Vila Franca Do Campo,PT,70.21,37.7167,-25.4333,Pestana Bahia Praia
13,Kahului,US,83.46,20.8947,-156.4700,Maui Seaside Hotel

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))